.content {
    padding: 20px;
}

.banner__title {
    color: rgb(253, 253, 253);
    font-size: 62px;
    line-height: 66px;
    font-weight: 400;
    margin: 30px 0;
}

.banner__cubtitle {
    margin: 0;
    color: #1c626b;
    font-size: 36px;
    line-height: 40px;
}

.banner__text {
    margin: 15px auto;
    color: #1c8594;
    font-weight: 400;
    font-size: 18px;
}

.bunner__btn {
    display: inline-block;
    padding: 18px 40px;
    border-radius: 30px;
    font-size: 16px;    
    text-decoration: none;
    color: #6b6b6b;    
    box-shadow: 0 19px 15px rgb(0 0 0 / 15%);
    background-image: linear-gradient(
96.37deg,#fff 15.76%,#fff 98.76%);
    transition: .3s ease;
}

.bunner__btn:hover {
    background: #07707e;
    color: #fff;
}

.servises__title{
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
    color: #1c626b;
}

.title_span {
    font-weight: 700;
    color: #1db9c8;
}

.blueBtn {
    display: inline-block;
    padding: 18px 40px;
    margin: auto auto 0;
    font-size: 16px;
    color: #fff;
    -webkit-text-decoration: none;
    text-decoration: none;
    background-image: linear-gradient(
96.12deg,#1bc8d8 15.76%,#56c8e8 98.76%);
    border-radius: 150px;
    -webkit-box-shadow: 0 19px 15px rgb(0 0 0 / 15%);
    box-shadow: 0 19px 15px rgb(0 0 0 / 15%);
    -webkit-transition: .3s ease;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.blueBtn:hover {
    background: linear-gradient(96.12deg,#0398a5 15.76%,#1da1c5 98.76%);
}

.servises__item {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: auto auto 20px;
    max-width: 370px;
    min-height: 307px;
    background-color: #f4f4f4;
    border-radius: 20px;
/*  background-image: url(images/service-item1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.item_text {
    margin: 0;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    color: #1c8594;
    text-align: center;
}

.item_1 {
background: url(../../../public/Images/service-item1.jpg);
}