.header {
    padding: 10px 20px;
}

.header__contacts {
    text-align: center;
    color: #1c8594;
}

.header__city {
    font-size: 16px;
}

.header__city select {
    outline: none;
    border: 0;
    font-size: 16px;
    color: #1c8594;
    border-bottom: 1px solid #1bc8d8;
}

.header__street {
    font-size: 18px;
    margin: 10px auto;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="19" height="25" viewBox="0 0 19 25" fill="%231BC8D8" %3E%3Cpath d="M16.2189 2.56451C14.4245 0.910843 12.0385 0 9.50096 0C6.96291 0 4.57744 0.910843 2.78302 2.56451C-0.537808 5.6244 -0.950496 11.3817 1.88927 14.8698L9.50096 25L17.1013 14.8839C19.9524 11.3816 19.5397 5.6244 16.2189 2.56451ZM9.58865 11.8706C7.67681 11.8706 6.12069 10.4366 6.12069 8.67469C6.12069 6.91282 7.67681 5.47875 9.58865 5.47875C11.5005 5.47875 13.0566 6.91282 13.0566 8.67469C13.0566 10.4366 11.5005 11.8706 9.58865 11.8706Z" /%3E%3C/svg%3E');
    background-repeat: no-repeat;
    width: fit-content;
    padding: 0 25px;
}

.header__phone {
    font-size: 18px;
    font-weight: bold;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 17 18'%3E%3Cpath d='M16.9639 13.1727C16.9158 13.0278 16.6099 12.8144 16.0463 12.5329C15.8936 12.4442 15.6761 12.3236 15.3946 12.1706C15.1129 12.0177 14.8571 11.8767 14.6279 11.7479C14.3981 11.6191 14.1829 11.4944 13.9818 11.3738C13.9497 11.3496 13.8491 11.2793 13.68 11.1623C13.5108 11.0457 13.3681 10.9591 13.2512 10.9027C13.1345 10.8465 13.0197 10.8183 12.907 10.8183C12.7461 10.8183 12.545 10.9331 12.3036 11.1623C12.0622 11.3919 11.8408 11.6412 11.6396 11.9111C11.4384 12.1809 11.2251 12.4303 10.9999 12.6597C10.7744 12.8892 10.5892 13.0039 10.4444 13.0039C10.3718 13.0039 10.2812 12.9836 10.1726 12.9436C10.0641 12.9034 9.98155 12.869 9.92488 12.8412C9.86872 12.8128 9.77234 12.7566 9.6354 12.6718C9.4982 12.5873 9.42191 12.541 9.40584 12.5329C8.30309 11.921 7.35732 11.2206 6.56838 10.432C5.77968 9.64297 5.07925 8.69729 4.4675 7.59441C4.45947 7.57829 4.41307 7.50179 4.32862 7.36502C4.24403 7.22812 4.18766 7.13165 4.15949 7.07515C4.13133 7.01886 4.09711 6.93631 4.05694 6.82766C4.01676 6.71902 3.99659 6.62851 3.99659 6.55598C3.99659 6.41118 4.11132 6.22594 4.34076 6.00053C4.57014 5.77524 4.81975 5.56184 5.08931 5.36074C5.35909 5.15965 5.60844 4.93821 5.83792 4.69681C6.06731 4.45528 6.182 4.25414 6.182 4.09318C6.182 3.98056 6.15383 3.86574 6.09754 3.74906C6.04121 3.63212 5.95468 3.48943 5.83792 3.3203C5.72111 3.15127 5.65069 3.05074 5.6265 3.01839C5.50589 2.81729 5.38125 2.60198 5.25231 2.37255C5.12336 2.14316 4.98261 1.88747 4.8296 1.60577C4.67672 1.32419 4.55606 1.10677 4.46742 0.953842C4.18584 0.390477 3.97257 0.0844561 3.82763 0.0363284C3.77126 0.0121799 3.68668 0 3.5741 0C3.35663 0 3.07294 0.0401769 2.72281 0.120784C2.37255 0.201265 2.09694 0.285679 1.89567 0.374364C1.49319 0.543319 1.06659 1.03432 0.615764 1.84721C0.205241 2.60372 0 3.35249 0 4.09297C0 4.31014 0.0140831 4.52142 0.0422492 4.72688C0.0704153 4.93212 0.120742 5.16358 0.193272 5.42122C0.265675 5.67877 0.32408 5.8701 0.368232 5.99469C0.412427 6.11937 0.494937 6.34271 0.615722 6.6648C0.736337 6.98681 0.808867 7.18393 0.833015 7.25637C1.11472 8.04528 1.44878 8.74956 1.83511 9.36942C2.47075 10.3997 3.33819 11.4645 4.43693 12.5633C5.5357 13.6621 6.60026 14.5294 7.63065 15.1653C8.25043 15.5516 8.95497 15.8857 9.74375 16.1676C9.81623 16.1916 10.0134 16.264 10.3352 16.385C10.6572 16.5057 10.8807 16.5882 11.0053 16.6325C11.1301 16.6768 11.3214 16.7352 11.5788 16.8078C11.8367 16.8803 12.0679 16.9306 12.2732 16.959C12.4785 16.9868 12.6899 17.0011 12.9071 17.0011C13.6475 17.0011 14.3963 16.7958 15.153 16.3853C15.9658 15.9346 16.4566 15.5079 16.6257 15.1052C16.7146 14.9041 16.7988 14.6284 16.8792 14.2782C16.96 13.9281 17.0001 13.6444 17.0001 13.427C17.0003 13.314 16.9882 13.2296 16.9639 13.1727Z'%3E%3C/path%3E%3C/svg%3E");
   background-repeat: no-repeat;
   margin: 0 auto;
   width: fit-content;
   padding: 0 30px;
 
}

/* url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="19" height="25" viewBox="0 0 19 25" fill="%231BC8D8" %3E%3Cpath d="M16.2189 2.56451C14.4245 0.910843 12.0385 0 9.50096 0C6.96291 0 4.57744 0.910843 2.78302 2.56451C-0.537808 5.6244 -0.950496 11.3817 1.88927 14.8698L9.50096 25L17.1013 14.8839C19.9524 11.3816 19.5397 5.6244 16.2189 2.56451ZM9.58865 11.8706C7.67681 11.8706 6.12069 10.4366 6.12069 8.67469C6.12069 6.91282 7.67681 5.47875 9.58865 5.47875C11.5005 5.47875 13.0566 6.91282 13.0566 8.67469C13.0566 10.4366 11.5005 11.8706 9.58865 11.8706Z" /%3E%3C/svg%3E'); */