.content {
    padding: 20px 0;
    text-align: center;
}

.bgr {
    background-image: url('./Images/hits-back.png');
    background-repeat: no-repeat;
    background-position: bottom center;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.item {
    margin: 20px auto;
    padding: 20px;
    width: 270px;
    background-color: #fff;
    box-shadow: 0 14px 19px rgb(0 0 0 / 20%);
    border-radius: 20px;
    text-align: center;
}

.nameHits {
    color: #1c626b;
    font-weight: 700;
}

.title{
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
    color: #1c626b;
}

.span {
    font-weight: 700;
    color: #1db9c8;
}

.text {
    margin: 15px auto;
    color: #1c8594;
    font-weight: 400;
    font-size: 18px;
}

.price {
    color: #1c8594;
    font-size: 24px;
}
